<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InLib | Biblioteca Digital</title>
    <link rel="shortcut icon" href="../../public/images/logo (1).png" type="image/x-icon">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>

    <header class="header">
        <nav class="nav_container contentor">
            <a href="../../index.html" class="nav_logo">
                <img src="../../public/images/logo (1).png" alt="" srcset="">
            </a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="home.html" class="nav_link">
                            <i class="ri-home-3-line"></i>
                            <span>Início</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="livros.html" class="nav_link">
                            <i class="ri-git-repository-line"></i>
                            <span>Livros</span>
                        </a>
                    </li>

                    

                    <li class="nav_item">
                        <a href="support.html" class="nav_link">
                            <i class="ri-customer-service-2-line"></i>
                            <span>Suporte</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="sobre.html" class="nav_link">
                            <i class="ri-information-line"></i>
                            <span>Sobre</span>
                        </a>
                    </li>
                </ul>

                <div class="nav_close" id="nav-close">
                    <i class="ri-close-circle-line"></i>
                </div>

                <div class="nav_extras">
                    <form action="home.html">
                        <button type="submit">
                            <i class="ri-search-line"></i>
                        </button>
                        <input class="search_btn" type="text" placeholder="Pesquisar...">
                    </form>
                    <a href="##" class="nav_extras_link search_op">
                        <i class="ri-search-line"></i>
                    </a>
                    <a href="profile.html" class="nav_extras_link">
                        <i class="ri-user-line"></i>
                    </a>
                    <a href="##" class="nav_extras_link">
                        <i class="ri-heart-line"></i>
                    </a>
                </div>
            </div>

            <div class="nav_toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>

    </header>

    <div class="hero">
        <div class="hero_child">
            <h1>Conhecimento sem Limites</h1>
            <p>Bem-vindo ao InLib, a sua plataforma digital para acesso a livros, artigos e materiais acadêmicos.
                <br>Descubra, aprenda e evolua com uma biblioteca completa ao seu alcance.
            </p>
            <a href="#services">Explorar Mais</a>
        </div>
    </div>

    <main>
        <section class="sessao container destaque_semana">
            <h2>Destaques da Semana</h2>
            <div class="destaque_mother">
                <div class="destaque_img">
                    <img src="../../public/images/book (2).png" alt="" srcset="">
                </div>
                <div class="destaque_child">
                    <h3>History Of Britain</h3>
                    <p>Obra fascinante que explora a trajetória política, social e cultural da Grã-Bretanha, conectando
                        eventos históricos e suas repercussões na sociedade contemporânea de forma envolvente.</p>
                    <div class="destaque_btns">
                        <a href="#" class="botao_principal shadow2">Ler Agora</a>
                        <a href="#" class="iconheart shadow2"><i class="ri-heart-line "></i></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="container sessao sessao-servicos" id="services">
            <h2>Nosso Serviços</h2>
            <div class="row">
                <a href="livros.html" class="service-item">
                    <i class="ri-book-open-line"></i>
                    <h3>Livros Digitais</h3>
                    <p>Acesse milhares de livros digitais de diversas categorias.</p>
                </a>
                <a href="search.html" class="service-item">
                    <i class="ri-earth-line"></i>
                    <h3>Busca Avançada</h3>
                    <p>Encontre os títulos que procura com nossa busca rápida e avançada.</p>
                </a>
                <a href="support.html" class="service-item">
                    <i class="ri-customer-service-2-line"></i>
                    <h3>Suporte Técnico</h3>
                    <p>Obtenha ajuda técnica sempre que precisar de suporte.</p>
                </a>
            </div>
        </section>

        <section class="container sessao sessao-first">
            <h2>Novidades</h2>
            <div class="collection_1">
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (4).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>World War II</h3>
                        <p>Blitzkrieg</p>
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (3).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>Bird</h3>
                        <p>Audobon</p>
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (2).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>Britain's History</h3>
                        <p>Biope William</p>
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (8).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>Science</h3>
                        <p>Gale Dora</p>
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (7).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>The Stars</h3>
                        <p>Sam Petterson</p>
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (10).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>Animal</h3>
                        <p>Jessy Dolph</p>
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (5).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>History</h3>
                        <p>Kevin Smith</p>
                       
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
                <div class="content_1 shadow">
                    <div class="iconheart shadow2"><i class="ri-heart-line" id="heart-icon"></i></div>
                    <img src="../../public/images/book (13).png" alt="" srcset="">
                    <div class="text-content">
                        <h3>Fashion</h3>
                        <p>Paolle Nevasca</p>
                        <div>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                            <i class="ri-star-s-fill"></i>
                        </div>
                        <button type="submit" class="botao_principal">Ler Agora</button>
                    </div>
                </div>
        </section>

        <section class="container sessao sessao-second">
            <h2>Best Sellers</h2>
            <div class="swiper swipperBestSeller">
                <div class="swiper-wrapper">
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                    <div class="swiper-slide best_card">
                        <button class="shadow2" type="button">Ver</button>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            </div>
        </section>



        <section class="container sessao sessao-comments">
            <h2>Comentários</h2>
            <div class="linha">
                <div class="cartao">
                    <img src="../../public/images/persons (3).png" alt="" class="foto">
                    <h3>Marinela Guedes</h3>
                    <p>Plataforma incrível, foi fácil de usar.❤️‍🔥</p>
                </div>
                <div class="cartao">
                    <img src="../../public/images/persons (2).png" alt="" class="foto">
                    <h3>Nadir Simão</h3>
                    <p>Finalmente consegui encontrar uma biblioteca com livros do meu agrado.😍</p>
                </div>
                <div class="cartao">
                    <img src="../../public/images/persons (4).png" alt="" class="foto">
                    <h3>Ngó Nkymbelele</h3>
                    <p>Achei interessante a plataforma!👍</p>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <div class="footer-container">
            <!-- Coluna de Navegação -->
            <div class="footer-column">
                <h3>InLib</h3>
                <ul>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="livros.html">Categorias</a></li>
                    <li><a href="autores">Autores em Ascensão</a></li>
                    <li><a href="livros.html/#bestsellers">Livros Mais Vendidos</a></li>
                </ul>
            </div>
            <!-- Coluna de Contato -->
            <div class="footer-column">
                <h3>Contato</h3>
                <ul>
                    <li><i class="ri-map-pin-line"></i> Rua dos Universitários, Luanda, Angola</li>
                    <li><i class="ri-phone-line"></i> +244 923 456 789</li>
                    <li><i class="ri-mail-line"></i> suporte@inlib.com</li>
                </ul>
            </div>
            <!-- Coluna de Conecte-se -->
            <div class="footer-column">
                <h3>Conecte-se Conosco</h3>
                <ul class="social-icons">
                    <li><a href="https//:www.facebook.com/inlib"><i class="ri-facebook-fill"></i></a></li>
                    <li><a href="https//:www.twitter.com/inlib"><i class="ri-twitter-fill"></i></a></li>
                    <li><a href="https//:www.linkedin.com/inlib"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="https//:www.instagram.com/inlib"><i class="ri-instagram-fill"></i></a></li>
                </ul>
            </div>
            <!-- Coluna Desenvolvedores -->
            <div class="footer-column">
                <h3>Desenvolvedores</h3>
                <ul>
                    <li><i class="ri-user-3-line"></i> Equipe de Desenvolvimento Web</li>
                    <li><i class="ri-code-line"></i> Desenvolvedor Líder: Nome do Desenvolvedor</li>
                    <li><i class="ri-code-s-slash-line"></i> Back-end: Nome do Desenvolvedor</li>
                    <li><i class="ri-design-line"></i> Front-end: Nome do Desenvolvedor</li>
                </ul>
            </div>
            <!-- Coluna Instituição -->
            <div class="footer-column">
                <h3>CEICD</h3>
                <ul>
                    <li>Este website foi desenvolvido em parceria com o <strong>CEICD - Centro de Investigação Científica e Desenvolvimento do Instic</strong>.</li>
                    <li>O CEICD apoia projetos tecnológicos e científicos em Angola, promovendo inovação e pesquisa de qualidade.</li>
                    <li><a href="https//:www.ceicd.com">Visite o CEICD</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 InLib - Todos os Direitos Reservados.</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../../public/js/scripts.js"></script>
</body>

</html>