<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - InLib</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="../../public/css/resto.css">
    <link rel="stylesheet" href="../../public/css/livros.css">

</head>

<body>
    <!-- Header -->
    <header class="header">
        <nav class="nav_container contentor">
            <a href="../../index.html" class="nav_logo">
                <img src="../../public/images/logo (1).png" alt="" srcset="">
            </a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="home.html" class="nav_link">
                            <i class="ri-home-3-line"></i>
                            <span>Início</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="livros.html" class="nav_link">
                            <i class="ri-git-repository-line"></i>
                            <span>Livros</span>
                        </a>
                    </li>

                    

                    <li class="nav_item">
                        <a href="support.html" class="nav_link">
                            <i class="ri-customer-service-2-line"></i>
                            <span>Suporte</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="sobre.html" class="nav_link">
                            <i class="ri-information-line"></i>
                            <span>Sobre</span>
                        </a>
                    </li>
                </ul>

                <div class="nav_close" id="nav-close">
                    <i class="ri-close-circle-line"></i>
                </div>

                <div class="nav_extras">
                    <form action="home.html">
                        <button type="submit">
                            <i class="ri-search-line"></i>
                        </button>
                        <input class="search_btn" type="text" placeholder="Pesquisar...">
                    </form>
                    <a href="##" class="nav_extras_link search_op">
                        <i class="ri-search-line"></i>
                    </a>
                    <a href="profile.html" class="nav_extras_link">
                        <i class="ri-user-line"></i>
                    </a>
                    <a href="##" class="nav_extras_link">
                        <i class="ri-heart-line"></i>
                    </a>
                </div>
            </div>

            <div class="nav_toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>

    </header>

    <main class="container">
        <section class="container search-seaction">
            <h2>Corra atrás do seu sucesso acadêmico</h2>
            <form method="post" action="livros.html">
                <button class="search-btn-one"><i class="ri-book-open-line"></i></button>
                <input type="text" value="" placeholder="Pesquise por títulos, autores ou categorias..." required>
                <button type="submit" class="search-btn"><i class="ri-search-2-line"></i></button>
            </form>
        </section>
        <!-- Categoria 1 -->
        <section class="categoria_1">
            <h2>Sugestões da Semana</h2>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper carousel">
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (2).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (3).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (1).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (7).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (4).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (11).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (6).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (13).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
        </section>
        <!-- Categoria 2 -->
        <section class="categoria_1">
            <h2>Mais Lidas</h2>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper carousel">
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (4).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (9).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (5).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (6).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (10).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (7).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (11).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (1).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
        </section>
        <!-- Categoria 3 -->
        <section class="categoria_1">
            <h2>Natureza e a Ciência</h2>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper carousel">
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (5).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (12).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (11).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (6).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (10).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (9).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (14).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (4).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
        </section>
        <!-- Categoria 4 -->
        <section class="categoria_1">
            <h2>Diversos</h2>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper carousel">
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (2).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (5).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (13).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (12).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (11).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (10).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (6).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                    <div class="swiper-slide cards">
                        <img src="../../public/images/book (7).png" alt="" srcset="">
                        <div class="text-content">
                            <button type="submit">Ver mais</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
        </section>


    </main>



    <!-- Footer -->

    <footer class="footer container">
        <div class="footer-container">
            <!-- Coluna de Navegação -->
            <div class="footer-column">
                <h3>InLib</h3>
                <ul>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="livros.html">Categorias</a></li>
                    <li><a href="autores">Autores em Ascensão</a></li>
                    <li><a href="livros.html/#bestsellers">Livros Mais Vendidos</a></li>
                </ul>
            </div>
            <!-- Coluna de Contato -->
            <div class="footer-column">
                <h3>Contato</h3>
                <ul>
                    <li><i class="ri-map-pin-line"></i> Rua dos Universitários, Luanda, Angola</li>
                    <li><i class="ri-phone-line"></i> +244 923 456 789</li>
                    <li><i class="ri-mail-line"></i> suporte@inlib.com</li>
                </ul>
            </div>
            <!-- Coluna de Conecte-se -->
            <div class="footer-column">
                <h3>Conecte-se Conosco</h3>
                <ul class="social-icons">
                    <li><a href="https//:www.facebook.com/inlib"><i class="ri-facebook-fill"></i></a></li>
                    <li><a href="https//:www.twitter.com/inlib"><i class="ri-twitter-fill"></i></a></li>
                    <li><a href="https//:www.linkedin.com/inlib"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="https//:www.instagram.com/inlib"><i class="ri-instagram-fill"></i></a></li>
                </ul>
            </div>
            <!-- Coluna Desenvolvedores -->
            <div class="footer-column">
                <h3>Desenvolvedores</h3>
                <ul>
                    <li><i class="ri-user-3-line"></i> Equipe de Desenvolvimento Web</li>
                    <li><i class="ri-code-line"></i> Desenvolvedor Líder: Nome do Desenvolvedor</li>
                    <li><i class="ri-code-s-slash-line"></i> Back-end: Nome do Desenvolvedor</li>
                    <li><i class="ri-design-line"></i> Front-end: Nome do Desenvolvedor</li>
                </ul>
            </div>
            <!-- Coluna Instituição -->
            <div class="footer-column">
                <h3>CEICD</h3>
                <ul>
                    <li>Este website foi desenvolvido em parceria com o <strong>CEICD - Centro de Investigação
                            Científica e Desenvolvimento do Instic</strong>.</li>
                    <li>O CEICD apoia projetos tecnológicos e científicos em Angola, promovendo inovação e pesquisa de
                        qualidade.</li>
                    <li><a href="https//:www.ceicd.com">Visite o CEICD</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 InLib - Todos os Direitos Reservados.</p>
        </div>
    </footer>







    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 30,
            loop: true,
            centeredSlides: true,
            grabCursor: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script src="../../public/js/scripts.js"></script>
</body>

</html>