<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - InLib</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/resto.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <nav class="nav_container contentor">
            <a href="../../index.html" class="nav_logo">
                <img src="../../public/images/logo (1).png" alt="" srcset="">
            </a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="home.html" class="nav_link">
                            <i class="ri-home-3-line"></i>
                            <span>Início</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="livros.html" class="nav_link">
                            <i class="ri-git-repository-line"></i>
                            <span>Livros</span>
                        </a>
                    </li>



                    <li class="nav_item">
                        <a href="support.html" class="nav_link">
                            <i class="ri-customer-service-2-line"></i>
                            <span>Suporte</span>
                        </a>
                    </li>

                    <li class="nav_item">
                        <a href="sobre.html" class="nav_link">
                            <i class="ri-information-line"></i>
                            <span>Sobre</span>
                        </a>
                    </li>
                </ul>

                <div class="nav_close" id="nav-close">
                    <i class="ri-close-circle-line"></i>
                </div>

                <div class="nav_extras">
                    <form action="home.html">
                        <button type="submit">
                            <i class="ri-search-line"></i>
                        </button>
                        <input class="search_btn" type="text" placeholder="Pesquisar...">
                    </form>
                    <a href="##" class="nav_extras_link search_op">
                        <i class="ri-search-line"></i>
                    </a>
                    <a href="profile.html" class="nav_extras_link">
                        <i class="ri-user-line"></i>
                    </a>
                    <a href="##" class="nav_extras_link">
                        <i class="ri-heart-line"></i>
                    </a>
                </div>
            </div>

            <div class="nav_toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </nav>

    </header>

    <!-- Seção Quem Somos -->
    <section class="quem-somos container">
        <h1>Sobre Nós</h1>
        <div class="quem-content">
            <div class="quem-descricao">
                <h2>Quem Somos</h2>
                <p>O InLib é uma plataforma dedicada a democratizar o acesso à leitura e ao conhecimento digital em
                    Angola. Nossa missão é conectar leitores a uma ampla variedade de livros e autores, promovendo o
                    desenvolvimento pessoal e acadêmico.</p>
            </div>
            <div class="quem-img">
                <img src="../../public/images/team.png" alt="" srcset="">
            </div>
        </div>
    </section>

    <!-- Seção Missão, Visão e Valores -->
    <section class="missao-visao-valores container">
        <div class="content">
            <div class="card shadow">
                <i class="ri-flag-line"></i>
                <h3>Missão</h3>
                <p>Proporcionar uma experiência de leitura acessível e digitalmente eficiente para todos os
                    estudantes e leitores em Angola, incentivando a educação contínua e a formação cultural.</p>
            </div>
            <div class="card shadow">
                <i class="ri-eye-line"></i>
                <h3>Visão</h3>
                <p>Ser a maior e mais inovadora plataforma de leitura digital em Angola, promovendo o
                    desenvolvimento de uma geração de leitores críticos e engajados com o conhecimento.</p>
            </div>
            <div class="card shadow">
                <i class="ri-vip-diamond-line"></i>
                <h3>Valores</h3>
                <p>Inclusão, Inovação, Sustentabilidade, Colaboração, Excelência Acadêmica.</p>
            </div>
        </div>
    </section>


    <section class="container sessao sessao-comments">
        <h2>Comentários</h2>
        <div class="linha">
            <div class="cartao">
                <img src="../../public/images/persons (3).png" alt="" class="foto">
                <h3>Marinela Guedes</h3>
                <p>Plataforma incrível, foi fácil de usar.❤️‍🔥</p>
            </div>
            <div class="cartao">
                <img src="../../public/images/persons (2).png" alt="" class="foto">
                <h3>Nadir Simão</h3>
                <p>Finalmente consegui encontrar uma biblioteca com livros do meu agrado.😍</p>
            </div>
            <div class="cartao">
                <img src="../../public/images/persons (4).png" alt="" class="foto">
                <h3>Ngó Nkymbelele</h3>
                <p>Achei interessante a plataforma!👍</p>
            </div>
        </div>
    </section>

    <!-- Seção Desenvolvedores -->
    <section class="desenvolvedores container">
        <h2>Equipe InLib</h2>
        <div class="equipa-content">
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
            <div class="card">
                <img src="../../public/images/adm.jpg" alt="">
                <h3>Hermínio Francisco</h3>
                <p>Dev | Frontend</p>
                <span>
                    <a target="_blank" href="https://www.github.com/eryyoficial"><i class="ri-github-fill"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/eryyoficial"><i
                            class="ri-linkedin-box-fill"></i></a>
                    <a target="_blank" href="mailto:eryyoficial0@gmail.com"> <i class="ri-mail-send-line"></i></a>
                </span>
            </div>
        </div>
    </section>


    <!-- Seção Projetos -->
    <section class="projetos container">
        <div class="formulario shadow">
            <h2>Fale Conosco</h2>
            <input type="text" class="input_text" id="nome" name="nome" required placeholder="Nome">
            <div class="error-message" id="nomeError"></div>

            <input type="email" class="input_text" id="email" name="email" required placeholder="Email">
            <div class="error-message" id="emailError"></div>

            <input type="text" class="input_text" id="assunto" name="assunto" required placeholder="Assunto">

            <textarea class="area_text" id="message" name="message" placeholder="Sua mensagem"
                rows="30" required></textarea>
            <div class="error-message" id="emailError"></div>
        </div>
    </section>


    <!-- Footer -->

    <footer class="footer container">
        <div class="footer-container">
            <!-- Coluna de Navegação -->
            <div class="footer-column">
                <h3>InLib</h3>
                <ul>
                    <li><a href="sobre.html">Sobre Nós</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="livros.html">Categorias</a></li>
                    <li><a href="autores">Autores em Ascensão</a></li>
                    <li><a href="livros.html/#bestsellers">Livros Mais Vendidos</a></li>
                </ul>
            </div>
            <!-- Coluna de Contato -->
            <div class="footer-column">
                <h3>Contato</h3>
                <ul>
                    <li><i class="ri-map-pin-line"></i> Rua dos Universitários, Luanda, Angola</li>
                    <li><i class="ri-phone-line"></i> +244 923 456 789</li>
                    <li><i class="ri-mail-line"></i> suporte@inlib.com</li>
                </ul>
            </div>
            <!-- Coluna de Conecte-se -->
            <div class="footer-column">
                <h3>Conecte-se Conosco</h3>
                <ul class="social-icons">
                    <li><a href="https//:www.facebook.com/inlib"><i class="ri-facebook-fill"></i></a></li>
                    <li><a href="https//:www.twitter.com/inlib"><i class="ri-twitter-fill"></i></a></li>
                    <li><a href="https//:www.linkedin.com/inlib"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="https//:www.instagram.com/inlib"><i class="ri-instagram-fill"></i></a></li>
                </ul>
            </div>
            <!-- Coluna Desenvolvedores -->
            <div class="footer-column">
                <h3>Desenvolvedores</h3>
                <ul>
                    <li><i class="ri-user-3-line"></i> Equipe de Desenvolvimento Web</li>
                    <li><i class="ri-code-line"></i> Desenvolvedor Líder: Nome do Desenvolvedor</li>
                    <li><i class="ri-code-s-slash-line"></i> Back-end: Nome do Desenvolvedor</li>
                    <li><i class="ri-design-line"></i> Front-end: Nome do Desenvolvedor</li>
                </ul>
            </div>
            <!-- Coluna Instituição -->
            <div class="footer-column">
                <h3>CEICD</h3>
                <ul>
                    <li>Este website foi desenvolvido em parceria com o <strong>CEICD - Centro de Investigação
                            Científica e Desenvolvimento do Instic</strong>.</li>
                    <li>O CEICD apoia projetos tecnológicos e científicos em Angola, promovendo inovação e pesquisa de
                        qualidade.</li>
                    <li><a href="https//:www.ceicd.com">Visite o CEICD</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 InLib - Todos os Direitos Reservados.</p>
        </div>
    </footer>








    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../../public/js/scripts.js"></script>
</body>

</html>