@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --header-height: 5rem;


    /* ================================= COLORS ================================= */
    --black-color: #212121;
    --black-color-light: #303030;
    --color-body: #5e5e5e;
    --color-blue-dark: #222d38;
    ;
    --color-blue-principal: #008cc4;
    --color-blue-second: #30A9D9;
    --color-blue-third: #3498db;
    --color-yellow-principal: #FF9C00;
    --color-yellow-second: #fff8ee;
    --white-color: #fff;
    --white-color-2: #f2f2f2;
    --hover-color: #30A9D9;
    --body-color: #f1faff;


    --boxshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --boxshadow2: 0 4px 8px rgba(0, 0, 0, 0.1);




    /* ================================= FONT FAMILY ================================= */
    --body-font-family: "Lato", sans-serif;

    /* ================================= FONT SIZE ================================= */
    --body-font-size: 18px;
    --smaller-font-size: .9rem;
    --small-font-size: .98rem;
    --normal-font-size: 1.25rem;
    --large-font-size: 1.5rem;
    --anormal-font-size: 2.5rem;
    --big-font-size: 3.5rem;
    --biggest-font-size: 5rem;

    /* ================================= FONT WEIGHT ================================= */
    --thin-weight: 200;
    --normal-weight: 400;
    --semibold-weight: 600;
    --bold-weight: 700;

    /* ================================= Z INDEX ================================= */
    --z-tooltip: 10;
    --z-fixed: 100;

}

body{
    background-color: var(--body-color);
}

.search-seaction form{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.search-seaction form input{
    grid-column: span 3;
    padding: 1.5rem;
    background-color: var(--white-color);
    border: none;
    outline: none;
    font-size: var(--large-font-size);
    font-weight: 500;
    color: gray;
    transition: .4s;
}

.search-seaction form button{
    background-color: var(--color-blue-third);
    outline: none;
    border: none;
    font-size: var(--large-font-size);
    font-weight: 500;
    color: var(--white-color);
}
.search-btn-one{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.search-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: .4s;
}

.search-btn:hover{
    background-color: #3498dbc9;

}



.categoria_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    margin-bottom: 7rem;
    padding: 2rem 5rem;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    margin-bottom: 1rem;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.categoria_1 .cards .text-content button {
    margin-top: .5rem;
    cursor: pointer;
    font-size: var(--small-font-size);
    padding: .8rem 1rem;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: var(--color-blue-second);
    color: var(--white-color);
    transition: .4s;
}

.categoria_1 .cards .text-content button:hover {
    outline: 1px solid var(--color-blue-second);
    background-color: var(--white-color);
    color: var(--color-blue-principal);
}

.categoria_1 .swiper-button-next,
.swiper-button-prev {
    background-color: var(--color-blue-second);
    padding: 2rem;
    font-weight: 600;
    color: var(--white-color);
    border-radius: 50px;
    scale: .5;
    opacity: .77;
    transition: .4s;
}
.categoria_1 .swiper-button-next:hover,
.swiper-button-prev:hover{
    opacity: 88;
}


.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background-color: var(--color-blue-second);

}